/* 다크모드 스타일 */
.dark-mode {
    background-color: #121212;
    color: #eceaea;
}

body.dark-mode th, body.dark-mode td {
    background-color: rgb(74, 73, 73);
    color: #e5e4e4;
}

body.dark-mode .form-control,
body.dark-mode .form-select {
    background-color: #333;
    color: #e5e4e4;
    border-color: #555;
}

body.dark-mode .btn {
    background-color: #444;
    color: #f1f1f1;
    border-color: #666;
}

body.dark-mode .pagination li a {
    background-color: rgb(196, 196, 196);
    border-color: #666;
}
